---
# tasks file for hswong3i.ganesha_export

- name: copy templates
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
    mode: "{{ item.mode }}"
  with_items:
    - { src: "etc/ganesha/ganesha.conf.d/export.conf.j2", dest: "/etc/ganesha/ganesha.conf.d/export.conf", owner: "root", group: "root", mode: "0644" }
  notify: restart ganesha
  tags: hswong3i.ganesha_export
